<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team38.ucl.archeoreport" >

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="archeoreport.db" />
        <meta-data
            android:name="VERSION"
            android:value="6" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="team38.ucl.archeoreport.Models" />

        <activity
            android:name=".Views.Viewers.AnnotateActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Views.Viewers.ViewExhibitionsActivity"
            android:label="ArcheoReport"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Creators.AddExhibitionActivity"
            android:label="@string/title_activity_add_exhibition_activity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Views.Viewers.ViewReportsActivity"
            android:label="@string/title_activity_view_reports"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Views.Creators.CreateReportActivity"
            android:label="@string/title_activity_create_report"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Views.Viewers.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Models.AddCSVFileActivity"
            android:label="@string/title_activity_add_csvfile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
